@import "tailwindcss";

@theme {
  --color-custom-blue: #12121a;
  --color-custom-blue-gray: #6963a7;
  --color-custom-magenta: #e526d9;
  --color-custom-sky: #0bc0f7;
  --color-custom-yellow: #f9bd26;

  --breakpoint-xs: 30rem;
  --breakpoint-2xs: 25rem;

  --sky-magenta-yellow-gradient: linear-gradient(
    to right,
    var(--color-custom-sky),
    var(--color-custom-magenta),
    var(--color-custom-yellow)
  );
}

@font-face {
  font-family: "Oxanium";
  src: url("/public/fonts/Oxanium/Oxanium-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 200 800;
  font-style: normal;
}

:root {
  font-family:
    system-ui, Avenir, Helvetica, Arial, sans-serif; /* set default font later */

  color: rgba(255, 255, 255, 0.87);
  background-color: var(--color-custom-blue);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}